@import "./tailwind.css";

:root {
  color-scheme: only light;
}

/* Firefox */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
    color-scheme: light;
  }
}

@layer base {
  [data-theme="remolquesenalquilergranada"] {
    @apply font-Poppins;
  }

  html,
  body {
    @apply bg-white box-border;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
}
