@import "./tailwind.css";

@layer base {
  @media (prefers-color-scheme: light) {
    [data-theme="remolquesenalquilergranada"] {
      @apply font-Poppins;
    }

    html,
    body {
      @apply bg-white box-border;
    }

    details > summary {
      list-style: none;
    }
    details > summary::-webkit-details-marker {
      display: none;
    }
  }
  @media (prefers-color-scheme: dark) {
    [data-theme="remolquesenalquilergranada"] {
      @apply font-Poppins;
    }

    html,
    body {
      @apply bg-white box-border;
    }

    details > summary {
      list-style: none;
    }
    details > summary::-webkit-details-marker {
      display: none;
    }
  }
}
