---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import MainLayout from "../layouts/Main.astro";
import ProductFirstView from "../components/ProductFirstView.astro";
import ProductDetails from "../components/ProductDetails.astro";
import Calendar from "../components/Calendar.astro";

const { product } = Astro.params;

export async function getStaticPaths() {
  return [{ params: { product: "la-pinta" } }];
}
---

<html
  lang="en"
  dir="ltr"
  data-theme="remolquesenalquilergranada"
  class="scroll-smooth scroll-pt-[60px]"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title>Remolque en Alquier en Granada: La Pinta</title>
    <meta
      name="description"
      content="Descubre la solución perfecta para transportar tus vehículos de pequeño tamaño. En Remolques en alquier Granada, ubicado en Calle Ebro 34, Granada, ofrecemos alquiler de remolques de hasta 750kg para motos, bicicletas, quads, karts y más. Facilitamos tus aventuras sobre ruedas con opciones flexibles de alquiler. ¡Reserva ahora y lleva tus experiencias a cualquier destino con comodidad y seguridad!"
    />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    />
    <meta name="color-scheme" content="light dark" />
    <script src="/scripts/swiped-events.js" defer></script>
  </head>

  <body>
    <MainLayout>
      <ProductFirstView />
      <ProductDetails />
      <Calendar />
    </MainLayout>
  </body>
</html>
