---
import MainLayout from "../layouts/Main.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<html
  lang="en"
  dir="ltr"
  data-theme="remolquesenalquilergranada"
  class="scroll-smooth scroll-pt-[60px]"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title>Política de privacidad</title>
    <meta
      name="description"
      content="Remolques en alquiler en Granada: Conoce nuestra política de privacidad"
    />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <MainLayout>
      <section class="md:px-16 xs:px-6 px-4 md:pb-16 pb-4 pt-6 md:pt-24">
        <div class="prose mx-auto">
          <h1>Política de Privacidad</h1>
          <p>
            En remolquesenalquilergranada.es, accesible desde
            https://www.remolquesenalquilergranada.es/, una de nuestras
            principales prioridades es la privacidad de nuestros visitantes.
            Este documento de Política de Privacidad contiene tipos de
            información que se recopilan y registran en
            remolquesenalquilergranada.es y cómo la utilizamos.
          </p>
          <p>
            Si tienes preguntas adicionales o necesitas más información sobre
            nuestra Política de Privacidad, no dudes en contactarnos.
          </p>
          <p>
            Esta Política de Privacidad se aplica solo a nuestras actividades en
            línea y es válida para los visitantes de nuestro sitio web en cuanto
            a la información que comparten y/o recopilan en
            remolquesenalquilergranada.es. Esta política no es aplicable a
            ninguna información recopilada fuera de línea o a través de canales
            distintos a este sitio web.
          </p>
          <h2>Consentimiento</h2>
          <p>
            Al utilizar nuestro sitio web, aceptas nuestra Política de
            Privacidad y estás de acuerdo con sus términos.
          </p>
          <h2>Información que recopilamos</h2>
          <p>
            La información personal que se te solicita proporcionar y las
            razones por las cuales se te pide proporcionarla se te explicarán
            claramente en el momento en que se te solicite tu información
            personal.
          </p>
          <p>
            Si nos contactas directamente, podemos recibir información adicional
            sobre ti, como tu nombre, dirección de correo electrónico, número de
            teléfono, el contenido del mensaje y/o los archivos adjuntos que nos
            puedas enviar, y cualquier otra información que elijas proporcionar.
          </p>
          <p>
            Cuando te registras para una cuenta, podemos solicitar tu
            información de contacto, incluyendo elementos como nombre, nombre de
            la empresa, dirección, dirección de correo electrónico y número de
            teléfono.
          </p>
          <h2>Cómo utilizamos tu información</h2>
          <p>
            Utilizamos la información que recopilamos de diversas maneras,
            incluyendo:
          </p>
          <ul>
            <li>Proporcionar, operar y mantener nuestro sitio web.</li>
            <li>Mejorar, personalizar y ampliar nuestro sitio web.</li>
            <li>Comprender y analizar cómo utilizas nuestro sitio web.</li>
            <li>
              Desarrollar nuevos productos, servicios, características y
              funcionalidades.
            </li>
            <li>
              Comunicarnos contigo, ya sea directamente o a través de uno de
              nuestros socios, incluyendo servicio al cliente, para
              proporcionarte actualizaciones y otra información relacionada con
              el sitio web, y con fines de marketing y promocionales.
            </li>
            <li>Enviarte correos electrónicos.</li>
            <li>Encontrar y prevenir fraudes.</li>
          </ul>
          <h2>Archivos de Registro</h2>
          <p>
            remolquesenalquilergranada.es sigue un procedimiento estándar de uso
            de archivos de registro. Estos archivos registran a los visitantes
            cuando visitan sitios web. Todas las empresas de alojamiento web
            hacen esto como parte de los servicios de análisis. La información
            recopilada por los archivos de registro incluye direcciones de
            protocolo de Internet (IP), tipo de navegador, proveedor de
            servicios de Internet (ISP), sello de fecha y hora, páginas de
            referencia/salida y posiblemente la cantidad de clics. Estos no
            están vinculados a ninguna información que sea personalmente
            identificable. El propósito de la información es analizar
            tendencias, administrar el sitio, rastrear el movimiento de los
            usuarios en el sitio web y recopilar información demográfica.
          </p>
          <h2>Cookies y Web Beacons</h2>
          <p>
            Al igual que cualquier otro sitio web, remolquesenalquilergranada.es
            utiliza "cookies". Estas cookies se utilizan para almacenar
            información, incluyendo las preferencias de los visitantes y las
            páginas del sitio web que el visitante accedió o visitó. La
            información se utiliza para optimizar la experiencia de los usuarios
            personalizando el contenido de nuestra página web según el tipo de
            navegador de los visitantes y/u otra información.
          </p>
          <h2>Políticas de Privacidad de los Socios Publicitarios</h2>
          <p>
            Los servidores publicitarios de terceros o redes de publicidad
            utilizan tecnologías como cookies, JavaScript o Web Beacons que se
            utilizan en sus respectivos anuncios y enlaces que aparecen en
            remolquesenalquilergranada.es, y que se envían directamente al
            navegador de los usuarios. Estos reciben automáticamente tu
            dirección IP cuando esto ocurre. Estas tecnologías se utilizan para
            medir la efectividad de sus campañas publicitarias y/o personalizar
            el contenido publicitario que ves en los sitios web que visitas.
          </p>
          <p>
            Ten en cuenta que remolquesenalquilergranada no tiene acceso ni
            control sobre estas cookies que son utilizadas por anunciantes de
            terceros.
          </p>
          <h2>Políticas de Privacidad de Terceros</h2>
          <p>
            La Política de Privacidad de remolquesenalquilergranada no se aplica
            a otros anunciantes o sitios web. Por lo tanto, te recomendamos que
            consultes las respectivas Políticas de Privacidad de estos
            servidores publicitarios de terceros para obtener información más
            detallada. Puede incluir sus prácticas e instrucciones sobre cómo
            excluirte de ciertas opciones.
          </p>
          <p>
            Puedes optar por desactivar las cookies a través de las opciones
            individuales de tu navegador. Para obtener información más detallada
            sobre la gestión de cookies con navegadores web específicos, puedes
            encontrarla en los sitios web respectivos de los navegadores.
          </p>
          <h2>Derechos de Protección de Datos GDPR</h2>
          <p>
            Queremos asegurarnos de que estés completamente informado sobre
            todos tus derechos de protección de datos. Cada usuario tiene
            derecho a lo siguiente:
          </p>
          <p>
            El derecho de acceso: tienes derecho a solicitar copias de tus datos
            personales. Podemos cobrarte una pequeña tarifa por este servicio.
          </p>
          <p>
            El derecho de rectificación: tienes derecho a solicitar que
            corrijamos cualquier información que creas que es inexacta. También
            tienes el derecho de solicitar que completemos la información que
            crees que está incompleta.
          </p>
          <p>
            El derecho al olvido: tienes derecho a solicitar que borremos tus
            datos personales, bajo ciertas condiciones.
          </p>
          <p>
            El derecho a restringir el procesamiento: tienes derecho a solicitar
            que restrinjamos el procesamiento de tus datos personales, bajo
            ciertas condiciones.
          </p>
          <p>
            El derecho a oponerte al procesamiento: tienes derecho a oponerte al
            procesamiento de tus datos personales, bajo ciertas condiciones.
          </p>
          <p>
            El derecho a la portabilidad de datos: tienes derecho a solicitar
            que transfiramos los datos que hemos recopilado a otra organización
            o directamente a ti, bajo ciertas condiciones.
          </p>
          <p>
            Si realizas una solicitud, tenemos un mes para responderte. Si
            deseas ejercer alguno de estos derechos, no dudes en contactarnos.
          </p>
          <h2>Información para Niños</h2>
          <p>
            Otra parte de nuestra prioridad es agregar protección para niños al
            utilizar Internet. Animamos a los padres y tutores a observar,
            participar y/o supervisar y guiar la actividad en línea de sus
            hijos.
          </p>
          <p>
            remolquesenalquilergranada.es no recopila intencionadamente
            información identificable personalmente de niños menores de 13 años.
            Si crees que tu hijo proporcionó este tipo de información en nuestro
            sitio web, te instamos a que nos contactes de inmediato y haremos
            nuestro mejor esfuerzo para eliminar rápidamente dicha información
            de nuestros registros.
          </p>
          <h2>Cambios en Esta Política de Privacidad</h2>
          <p>
            Podemos actualizar nuestra Política de Privacidad de vez en cuando.
            Por lo tanto, te recomendamos que revises esta página periódicamente
            para cualquier cambio. Te notificaremos de cualquier cambio
            publicando la nueva Política de Privacidad en esta página. Estos
            cambios son efectivos de inmediato después de ser publicados en esta
            página.
          </p>
          <h2>Contáctanos</h2>
          <p>
            Si tienes alguna pregunta o sugerencia sobre nuestra Política de
            Privacidad, no dudes en contactarnos.
          </p>
        </div>
      </section>
    </MainLayout>
  </body>
</html>
