---
import MainLayout from "../layouts/Main.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<html
  lang="en"
  dir="ltr"
  data-theme="remolquesenalquilergranada"
  class="scroll-smooth scroll-pt-[60px]"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title>Términos de uso</title>
    <meta
      name="description"
      content="Remolques en alquiler en Granada: Conoce nuestros términos de uso"
    />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <MainLayout>
      <section class="md:px-16 xs:px-6 px-4 md:pb-16 pb-4 pt-6 md:pt-24">
        <div class="prose mx-auto">
          <h1>Términos de Uso</h1>
          <p>Version 1.0</p>
          <p>
            El sitio web remolquesenalquilergranada.es, ubicado en
            https://www.remolquesenalquilergranada.es/, es una obra protegida
            por derechos de autor que pertenece a Remolques en Alquiler Granada.
            Algunas características del sitio pueden estar sujetas a pautas,
            términos o reglas adicionales que se publicarán en el sitio en
            relación con dichas características.
          </p>
          <p>
            Todos estos términos adicionales, pautas y reglas se incorporan por
            referencia a estos Términos.
          </p>
          <p>
            Estos Términos de Uso describen los términos y condiciones
            legalmente vinculantes que supervisan tu uso del sitio.&nbsp;AL
            INICIAR SESIÓN EN EL SITIO, ESTÁS ACEPTANDO ESTOS TÉRMINOS y
            declaras que tienes la autoridad y capacidad para aceptar estos
            Términos. DEBES TENER AL MENOS 18 AÑOS DE EDAD PARA ACCEDER AL
            SITIO. SI NO ESTÁS DE ACUERDO CON TODAS LAS DISPOSICIONES DE ESTOS
            TÉRMINOS, NO INICIES SESIÓN Y/O NO USES EL SITIO.
          </p>
          <p></p>
          <p>
            Estos términos requieren el uso de la Sección 10.2 de arbitraje de
            manera individual para resolver disputas y también limitan los
            recursos disponibles para ti en caso de una disputa.
          </p>
          <h2>Acceso al Sitio</h2>
          <p>
            <strong>Sujeto a estos Términos.</strong> remolquesenalquilergranada.es
            le concede una licencia no transferible, no exclusiva, revocable y limitada
            para acceder al Sitio únicamente para su uso personal y no comercial.
          </p>
          <p>
            <strong>Restricciones Específicas.</strong> Los derechos otorgados en
            estos Términos están sujetos a las siguientes restricciones: (a) no debe
            vender, alquilar, arrendar, transferir, ceder, distribuir, alojar o explotar
            comercialmente el Sitio; (b) no debe modificar, crear obras derivadas,
            desmontar, compilar inversamente o ingeniería inversa de ninguna parte
            del Sitio; (c) no debe acceder al Sitio con el fin de construir un sitio
            web similar o competitivo; y (d) excepto según se indique expresamente
            aquí, ninguna parte del Sitio puede ser copiada, reproducida, distribuida,
            republicada, descargada, mostrada, publicada o transmitida de ninguna
            forma o por ningún medio, a menos que se indique lo contrario. Cualquier
            versión futura, actualización u otra adición de funcionalidad del Sitio
            estará sujeta a estos Términos. Todos los avisos de derechos de autor
            y otros avisos de propiedad en el Sitio deben conservarse en todas las
            copias del mismo.
          </p>
          <p>
            remolquesenalquilergranada.es se reserva el derecho de cambiar,
            suspender o dar por terminado el Sitio con o sin previo aviso.
            Aceptas que remolquesenalquilergranada.es no será responsable ante
            ti ni ante terceros por ningún cambio, interrupción o terminación
            del Sitio o de alguna de sus partes.
          </p>
          <p>
            <strong>Sin Soporte o Mantenimiento.</strong> Acuerdas que remolquesenalquilergranada.es
            no tendrá la obligación de brindarte ningún tipo de soporte en relación
            con el Sitio.
          </p>
          <p>
            <strong>Exclusión de Contenido del Usuario.</strong> A excepción de cualquier
            contenido que puedas proporcionar, eres consciente de que todos los derechos
            de propiedad intelectual, incluyendo derechos de autor, patentes, marcas
            comerciales y secretos comerciales, en el Sitio y su contenido son propiedad
            de remolquesenalquilergranada.es o de los proveedores. Ten en cuenta
            que estos Términos y el acceso al Sitio no te otorgan ningún derecho,
            título o interés sobre los derechos de propiedad intelectual, excepto
            por los derechos de acceso limitados expresados en la Sección 2.1. remolquesenalquilergranada.es
            y sus proveedores se reservan todos los derechos no otorgados en estos
            Términos.
          </p>
          <h2>Enlaces y Anuncios de Terceros; Otros Usuarios</h2>
          <p>
            <strong>Enlaces y Anuncios de Terceros</strong>
            El sitio puede incluir enlaces a sitios web y servicios de terceros,
            y/o mostrar anuncios de terceros. Tales Enlaces y Anuncios de Terceros
            no están bajo el control de remolquesenalquilergranada.es, y no es responsable
            de ellos. remolquesenalquilergranada.es proporciona acceso a estos Enlaces
            y Anuncios de Terceros solo como una conveniencia para ti, y no revisa,
            aprueba, supervisa, respalda, garantiza, ni realiza ninguna representación
            con respecto a ellos. Utilizas todos los Enlaces y Anuncios de Terceros
            bajo tu propio riesgo, y debes aplicar un nivel adecuado de precaución
            y discreción al hacerlo. Al hacer clic en cualquiera de los Enlaces y
            Anuncios de Terceros, se aplicarán los términos y políticas del tercero
            correspondiente, incluyendo las prácticas de privacidad y recopilación
            de datos del tercero.
          </p>
          <p>
            <strong>Otros Usuarios</strong>
            Cada usuario del sitio es completamente responsable de su propio contenido
            de usuario. Dado que no controlamos el contenido de usuario, reconoces
            y aceptas que no somos responsables de ningún contenido de usuario, ya
            sea proporcionado por ti u otros. Estás de acuerdo en que la remolquesenalquilergranada.es
            no será responsable de ninguna pérdida o daño incurrido como resultado
            de tales interacciones. Si surge una disputa entre tú y cualquier usuario
            del sitio, no estamos obligados a intervenir.
          </p>
          <p>
            Por la presente, liberas y eximes a remolquesenalquilergranada.es
            de, y renuncias y cedes, cada disputa, reclamación, controversia,
            demanda, derecho, obligación, responsabilidad, acción y causa de
            acción pasada, presente y futura de cualquier tipo y naturaleza, que
            haya surgido o surja directa o indirectamente de, o que se relacione
            directa o indirectamente con, el Sitio.
          </p>
          <p>
            <strong>Cookies y Web Beacons.</strong> Al igual que cualquier otro sitio
            web, remolquesenalquilergranada.es utiliza "cookies". Estas cookies se
            utilizan para almacenar información, incluyendo las preferencias de los
            visitantes y las páginas del sitio web que el visitante accedió o visitó.
            La información se utiliza para optimizar la experiencia de los usuarios
            personalizando el contenido de nuestra página web según el tipo de navegador
            de los visitantes y/u otra información.
          </p>
          <h2>Renuncias</h2>
          <p>
            El sitio se proporciona "tal cual" y "según esté disponible", y
            remolquesenalquilergranada.es y nuestros proveedores renuncian
            expresamente a todas y cada una de las garantías y condiciones de
            cualquier tipo, ya sean expresas, implícitas o legales, incluidas
            todas las garantías o condiciones de comerciabilidad, idoneidad para
            un fin particular, título, disfrute tranquilo, precisión o no
            infracción.&nbsp; Nosotros y nuestros proveedores no garantizamos
            que el sitio cumpla con sus requisitos, esté disponible de manera
            ininterrumpida, oportuna, segura o libre de errores, o que sea
            preciso, confiable, libre de virus u otro código perjudicial,
            completo, legal o seguro.&nbsp; Si la ley aplicable exige garantías
            con respecto al sitio, todas esas garantías están limitadas en
            duración a noventa (90) días a partir de la fecha del primer uso.
          </p>
          <p>
            Algunas jurisdicciones no permiten la exclusión de garantías
            implícitas, por lo que la exclusión anterior puede no aplicarse a
            usted.&nbsp; Algunas jurisdicciones no permiten limitaciones sobre
            la duración de una garantía implícita, por lo que la limitación
            anterior puede no aplicarse a usted.
          </p>
          <h2>Limitación de Responsabilidad</h2>
          <p>
            En la medida máxima permitida por la ley, en ningún caso
            remolquesenalquilergranada.es ni nuestros proveedores serán
            responsables ante usted o cualquier tercero por lucro cesante,
            pérdida de datos, costos de adquisición de productos sustitutos, o
            cualquier daño indirecto, consecuente, ejemplar, incidental,
            especial o punitivo derivado de o relacionado con estos términos o
            su uso, o incapacidad para usar el sitio, incluso si se ha informado
            a remolquesenalquilergranada.es sobre la posibilidad de tales daños.
            El acceso y uso del sitio se realiza bajo su propia discreción y
            riesgo, y usted será el único responsable de cualquier daño a su
            dispositivo o sistema informático, o pérdida de datos que resulte de
            ello.
          </p>
          <p>
            En la medida máxima permitida por la ley, y sin importar lo
            contrario establecido aquí, nuestra responsabilidad hacia usted por
            cualquier daño derivado de o relacionado con este acuerdo, se
            limitará en todo momento a un máximo de cincuenta euros. La
            existencia de más de una reclamación no ampliará este límite. Usted
            acepta que nuestros proveedores no tendrán ninguna responsabilidad
            de ningún tipo derivada de o relacionada con este acuerdo.
          </p>
          <p>
            Algunas jurisdicciones no permiten la limitación o exclusión de
            responsabilidad por daños incidentales o consecuentes, por lo que la
            limitación o exclusión anterior puede no aplicarse a usted.
          </p>
          <p>
            <strong>Término y Terminación.</strong> Sujeto a esta Sección, estos
            Términos permanecerán en pleno vigor y efecto mientras uses el Sitio.
            Podemos suspender o dar por terminados tus derechos de uso del Sitio
            en cualquier momento y por cualquier motivo a nuestra sola discreción,
            incluyendo cualquier uso del Sitio que viole estos Términos. Tras la
            terminación de tus derechos bajo estos Términos, tu cuenta y tu derecho
            de acceso y uso del Sitio terminarán inmediatamente. Comprendes que la
            terminación de tu cuenta puede implicar la eliminación de tu Contenido
            de Usuario asociado con tu cuenta de nuestras bases de datos en vivo.
            remolquesenalquilergranada.es no tendrá ninguna responsabilidad hacia
            ti por la terminación de tus derechos bajo estos Términos. Incluso después
            de la terminación de tus derechos bajo estos Términos, las siguientes
            disposiciones de estos Términos permanecerán vigentes: Secciones 2 a
            2.5, Sección 3 y Secciones 4 a 10.
          </p>
          <h2>Política de Derechos de Autor.</h2>
          <p>
            En remolquesenalquilergranada.es, valoramos y respetamos la
            propiedad intelectual de terceros. Si consideras que uno de nuestros
            usuarios está violando los derechos de autor de una obra a través de
            nuestro sitio y deseas que se retire el material supuestamente
            infractor, por favor, notifícalo utilizando los medios de contacto
            proporcionados al final de esta página.
          </p>
          <h2>Comunicaciones Electrónicas</h2>
          <p>
            Las comunicaciones entre tú y remolquesenalquilergranada.es utilizan
            medios electrónicos, ya sea que utilices el Sitio, nos envíes
            correos electrónicos, o que remolquesenalquilergranada.es publique
            avisos en el Sitio o se comunique contigo por correo electrónico.
            Con fines contractuales, tú (a) consientes recibir comunicaciones de
            remolquesenalquilergranada.es en formato electrónico; y (b) aceptas
            que todos los términos y condiciones, acuerdos, avisos,
            divulgaciones y otras comunicaciones que
            remolquesenalquilergranada.es te proporcione electrónicamente
            satisfacen cualquier obligación legal que dichas comunicaciones
            cumplirían si estuvieran en formato impreso.
          </p>
          <h2>General</h2>
          <p>
            Estas Condiciones constituyen el acuerdo completo entre tú y
            remolquesenalquilergranada.es con respecto al uso del Sitio. Nuestra
            falta de ejercicio o aplicación de cualquier derecho o disposición
            de estas Condiciones no operará como una renuncia a dicho derecho o
            disposición. Los títulos de las secciones en estas Condiciones son
            solo para conveniencia y no tienen efecto legal o contractual. La
            palabra "incluyendo" significa "incluyendo, pero no limitado a". Si
            alguna disposición de estas Condiciones se considera inválida o
            inaplicable, las demás disposiciones de estas Condiciones no se
            verán afectadas y la disposición inválida o inaplicable se
            considerará modificada para que sea válida y aplicable en la medida
            máxima permitida por la ley.&nbsp; Tu relación con
            remolquesenalquilergranada.es es la de un contratista independiente
            y ninguna de las partes es un agente o socio de la otra.&nbsp; Estas
            Condiciones, y tus derechos y obligaciones en virtud de las mismas,
            no pueden ser cedidos, subcontratados, delegados o transferidos por
            ti sin el consentimiento previo por escrito de
            remolquesenalquilergranada.es, y cualquier intento de cesión,
            subcontrato, delegación o transferencia en violación de lo anterior
            será nulo y sin valor.&nbsp; remolquesenalquilergranada.es puede
            ceder libremente estas Condiciones.&nbsp; Los términos y condiciones
            establecidos en estas Condiciones serán vinculantes para los
            cesionarios.
          </p>
          <h2>Tu Privacidad</h2>
          <p>Por favor, lee nuestra Política de Privacidad.</p>
          <p>
            <strong>Información de Derechos de Autor/Marcas Comerciales.</strong
            >
            Derechos de autor ©. Todos los derechos reservados. Todas las marcas
            comerciales, logotipos y marcas de servicio mostradas en el Sitio son
            propiedad nuestra o propiedad de otros terceros. No se te permite utilizar
            estas marcas sin nuestro consentimiento previo por escrito o el consentimiento
            de dicho tercero que pueda ser el propietario de las marcas.
          </p>
          <h2>Información de Contacto</h2>
          <p>Correo Electrónico: brodriguezserrano54@gmail.com</p>
        </div>
      </section>
    </MainLayout>
  </body>
</html>
