---
// @ts-nocheck
import PlusIcon from "../icons/Plus.astro";
import MinusIcon from "../icons/Minus.astro";
const faqs = [
  [
    "¿Qué puedo y no puedo transportar?",
    "<p class='!m-0'>Puedes transportar cualquier carga en el remolque, siempre y cuando no exceda las medidas máximas homologadas ni el peso máximo permitido. Entre las cargas permitidas se incluyen vehículos a motor, vehículos acuáticos, equipo deportivo, muebles y electrodomésticos. Quedan exentos la carga de materiales inflamables, maquinaria agrícola y animales.</p>",
  ],
  [
    "¿Necesito tener seguro para alquilar?",
    "<p class='!m-0'>No, solo necesitas declarar la bola de remolque de tu coche en tu póliza de seguro. En el caso de remolques ligeros, la responsabilidad civil recae directamente sobre el seguro del vehículo tractor. Para remolques de más de 750 kg, el seguro a todo riesgo está incluido en el alquiler del remolque.</p>",
  ],
  [
    "¿Puedo ampliar el plazo de alquiler?",
    "<p class='!m-0'>Sí, podrás extender el plazo de alquiler del remolque siempre que no esté reservado por otra persona. Para hacerlo, simplemente debes abonar la cantidad acordada para la extensión, siempre y cuando nos lo comuniques con al menos 2 horas de antelación a la hora de entrega prevista. Si la comunicación se realiza con menos de 2 horas de antelación, se aplicará la tarifa de retraso de entrega estipulada en el contrato del remolque.</p>",
  ],
  [
    "¿Qué ocurre si tengo una avería?",
    "<p class='!m-0'>En el caso de que su vehículo se averíe y no puedas devolver el remolque al punto de entrega acordado, nos encargaremos de recoger el remolque según las condiciones y costos establecidos en el contrato específico del remolque. Es importante destacar que nunca debes abandonar el remolque ni su carga en la vía pública.</p>",
  ],
  [
    "¿Dónde estamos ubicados?",
    "<p class='!m-0'>Nos encontramos en el número 32 de la calle Ebro, cerca del Estadio Nuevo Los Cármenes, en Granada. Este punto será la ubicación de referencia tanto para la recogida como para la entrega de nuestros remolques.</p>",
  ],
];
---

<script lang="js" type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const detailsElements = Array.from(
      document.getElementById("preguntas-frecuentes").children[1].children
    ).filter((element) => element instanceof HTMLDetailsElement);
    detailsElements.forEach((element) => {
      element.addEventListener("toggle", (event) => {
        Array.from(event.target.getElementsByTagName("svg")).forEach(
          (element) => element.classList.toggle("hidden")
        );
        if (!event.target.open) return;
        detailsElements.forEach((otherElement) => {
          if (otherElement !== event.target && otherElement.open)
            otherElement.open = false;
        });
      });
    });
  });
</script>

<div class="w-full h-full px-6 max-xs:px-4">
  <section
    class="max-w-screen-md mx-auto py-14 prose-lg max-xs:prose-sm"
    id="preguntas-frecuentes"
  >
    <h2 class="">Preguntas frecuentes</h2>
    <div class="grid gap-4">
      {
        faqs.map((faq) => (
          <details>
            <summary class="bg-white rounded-md list-none px-4 py-3 max-xs:p-2 shadow border-slate-50 border-[1px] cursor-pointer flex justify-between items-center">
              <span class="mr-2">{faq[0]}</span>
              <PlusIcon class="w-6 h-6 max-xs:w-5 max-xs:h-5 shrink-0" />
              <MinusIcon class="w-6 h-6 max-xs:w-5 max-xs:h-5 shrink-0 hidden" />
            </summary>
            <div class="bg-white px-4 py-3 max-xs:p-2 mt-2 shadow border-slate-50 border-[1px]">
              <Fragment set:html={faq[1]} />
            </div>
          </details>
        ))
      }
    </div>
  </section>
</div>
