---
import PlusIcon from "../icons/Plus.astro";
import MinusIcon from "../icons/Minus.astro";
import type { Locales } from "../interface";

const { locales } = Astro.props as { locales: Locales.Faqs };
---

<script>
  class AstroFaqs extends HTMLElement {
    private detailsElements: HTMLDetailsElement[] = [];

    constructor() {
      super();
      this.handleToggle = this.handleToggle.bind(this);
    }

    private handleToggle(event: Event): void {
      const target = event.target as HTMLDetailsElement;

      const icons = target.getElementsByTagName("svg");
      Array.from(icons).forEach((icon) => icon.classList.toggle("hidden"));

      if (target.open) {
        this.detailsElements.forEach((details) => {
          if (details !== target && details.open) {
            details.open = false;
          }
        });
      }
    }

    private getDetailsElements(): HTMLDetailsElement[] {
      const container = this.querySelector(".faqs-box");
      return Array.from(container.children).filter(
        (element): element is HTMLDetailsElement =>
          element instanceof HTMLDetailsElement
      );
    }

    connectedCallback(): void {
      this.detailsElements = this.getDetailsElements();
      this.detailsElements.forEach((details) => {
        details.addEventListener("toggle", this.handleToggle);
      });
    }

    disconnectedCallback(): void {
      this.detailsElements.forEach((details) => {
        details.removeEventListener("toggle", this.handleToggle);
      });
    }
  }

  customElements.define("astro-faqs", AstroFaqs);
</script>

<astro-faqs>
  <div class="w-full h-full px-6 max-xs:px-4">
    <section class="max-w-screen-md mx-auto py-14 prose-lg max-xs:prose-sm">
      <h2 class="">{locales.title}</h2>
      <div class="grid gap-4 faqs-box">
        {
          locales.questions.map((faq) => (
            <details>
              <summary class="bg-white rounded-md list-none px-4 py-3 max-xs:p-2 shadow border-slate-50 border-[1px] cursor-pointer flex justify-between items-center">
                <span class="mr-2">{faq[0]}</span>
                <PlusIcon class="w-6 h-6 max-xs:w-5 max-xs:h-5 shrink-0" />
                <MinusIcon class="w-6 h-6 max-xs:w-5 max-xs:h-5 shrink-0 hidden" />
              </summary>
              <div class="bg-white px-4 py-3 max-xs:p-2 mt-2 shadow border-slate-50 border-[1px]">
                <Fragment set:html={faq[1]} />
              </div>
            </details>
          ))
        }
      </div>
    </section>
  </div>
</astro-faqs>
