---
import Phone from "../icons/Phone.astro";
import Email from "../icons/Email.astro";
---

<footer
  class="bg-base-content text-white w-full py-8 lg:px-16 xs:px-6 px-4 grid lg:grid-cols-3 sm:grid-rows-[auto,auto] sm:grid-cols-2 gap-4 max-sm:grid-rows-[auto,auto,auto]"
>
  <div
    class="grid grid-rows-3 text-sm max-sm:text-xs gap-1 sm:max-lg:col-start-1 sm:max-lg:col-span-1"
  >
    <span class="flex items-center">
      <Email class="w-4 h-4 mr-1.5" />
      brodriguezserrano54@gmail.com
    </span>
    <span class="flex items-center">
      <Phone class="w-4 h-4 mr-1.5" />
      +34 627 13 99 31
    </span>
    <address class="not-italic">Remolques en Alquiler Granada</address>
  </div>
  <div
    class="text-sm max-sm:text-xs text-slate-500 sm:grid sm:place-content-center sm:max-lg:row-start-2 sm:max-lg:col-span-2 max-sm:row-start-3"
  >
    <span>Copyright 2024. Kudu Consultant LLC.</span>
  </div>
  <ul
    class="grid grid-cols-[auto,auto,auto] w-fit place-content-center text-sm max-sm:text-xs sm:ml-auto sm:max-lg:col-start-2 sm:max-lg:col-span-1 max-sm:-ml-3"
  >
    <li class="h-fit">
      <a href="/terminos-de-uso" rel="bookmark" class="px-3 py-2 w-max block"
        >Términos de Uso</a
      >
    </li>
    <div class="text-xs h-fit translate-y-2">|</div>
    <li>
      <a
        href="/politica-de-privacidad"
        class="px-3 py-2 w-max block"
        rel="bookmark">Política de Privacidad</a
      >
    </li>
  </ul>
</footer>
