<section class="py-20 px-16 max-xs:px-6 max-xs:py-8 bg-slate-100">
  <div
    class="max-w-screen-md mx-auto prose-lg text-center leading-loose max-xs:leading-relaxed"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quaerat
      ratione unde iusto soluta dicta minus? Alias, corporis vel at facilis non,
      repellendus itaque fuga amet minus numquam iusto soluta.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos
      minima at debitis exercitationem amet, iure nulla? Dolorem temporibus,
      minus similique, doloremque vel cum mollitia dignissimos harum quisquam
      reprehenderit cumque.
    </p>
  </div>
</section>
