---
import type { Locales } from "../interface";

const { locales } = Astro.props as { locales: Locales.Intro };
---

<section class="py-20 px-16 max-xs:px-6 max-xs:py-8 bg-slate-100">
  <div
    class="max-w-screen-md mx-auto prose-lg text-center leading-loose max-xs:leading-relaxed"
  >
    <Fragment set:html={locales.text} />
  </div>
</section>
