---
import "leaflet/dist/leaflet.css";
---

<section id="ubicacion" class="xs:py-20 py-8 sm:px-16 bg-slate-100">
  <h2 class="xs:text-4xl text-2xl text-center mb-8">Ubicación</h2>
  <p
    class="max-w-screen-md mx-auto md:text-lg text-base px-6 text-center mb-8 z-0"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos minima
    at debitis exercitationem amet, iure nulla? Dolorem temporibus, minus
    similique, doloremque vel cum mollitia dignissimos harum quisquam
    reprehenderit cumque.
  </p>
  <leaflet-map
    data-latitude="37.1518945"
    data-longitude="-3.5986525"
    data-zoom="14"
    data-container={"leafletmap"}
    data-tiles={"https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}
    data-attribution={"&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"}
    data-containerstyle={"width: 1024px; height: 380px"}
  >
    <div
      id={"leafletmap"}
      style={"width: 1024px; height: 380px"}
      class="max-w-full mx-auto z-0"
    >
    </div>
  </leaflet-map>
  <script>
    import L from "leaflet";

    class LeafletMap extends HTMLElement {
      constructor() {
        super();

        const latlng = [
          Number(this.dataset.latitude),
          Number(this.dataset.longitude),
        ];

        var map = L.map(this.dataset.container, {
          dragging: !L.Browser.mobile,
          tap: !L.Browser.mobile,
          scrollWheelZoom: false,
        }).setView(latlng, Number(this.dataset.zoom));
        L.tileLayer(this.dataset.tiles, {
          attribution: this.dataset.attribution,
        }).addTo(map);

        L.circle(
          [Number(this.dataset.latitude), Number(this.dataset.longitude)],
          {
            color: "red",
            fillColor: "#f03",
            fillOpacity: 0.5,
            radius: 200,
          }
        ).addTo(map);
      }
    }

    customElements.define("leaflet-map", LeafletMap);
  </script>
</section>
