---
import Phone from "../icons/Phone.astro";
import Whatsapp from "../icons/Whatsapp.astro";
---

<script>
  import type { Locales } from "../interface";

  class ModalError extends HTMLElement {
    private dialog: HTMLDialogElement;

    constructor() {
      super();
    }

    connectedCallback(): void {
      this.dialog = this.querySelector("#modalError") as HTMLDialogElement;
    }

    disconnectedCallback(): void {}

    openModal(locales: Locales.ModalError): void {
      this.dialog.querySelector("#modalErrorTitle").textContent = locales.title;
      this.dialog.querySelector("#modalErrorText").innerHTML = locales.text;

      const callButton = this.dialog.querySelector("#modalErrorCallButton");
      const whatsappButton = this.dialog.querySelector(
        "#modalErrorWhatsappButton"
      );

      callButton.setAttribute("href", locales.contactButtons.call.href);
      callButton.querySelector("span").textContent =
        locales.contactButtons.call.text;

      whatsappButton.setAttribute("href", locales.contactButtons.whatsapp.href);
      whatsappButton.setAttribute(
        "target",
        locales.contactButtons.whatsapp.target
      );
      whatsappButton.setAttribute("rel", locales.contactButtons.whatsapp.rel);
      whatsappButton.querySelector("span").textContent =
        locales.contactButtons.whatsapp.text;

      this.dialog.showModal();
    }
  }

  customElements.define("astro-modal-error", ModalError);
</script>

<astro-modal-error>
  <dialog id="modalError" class="modal">
    <div class="modal-box text-black">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          >✕</button
        >
      </form>
      <div class="prose prose-base">
        <h4 id="modalErrorTitle" class="font-bold mb-4 text-lg"></h4>
        <div id="modalErrorText"></div>
        <ul class="list-none !pl-0">
          <li class="!pl-0 !mb-4">
            <a
              id="modalErrorCallButton"
              href=""
              class="btn btn-block btn-primary justify-start !m-0"
            >
              <Phone class="w-5 h-5 mr-1.5" />
              <span></span>
            </a>
          </li>
          <li class="!pl-0">
            <a
              id="modalErrorWhatsappButton"
              href=""
              target=""
              rel=""
              class="btn btn-block bg-green-500 text-white hover:bg-green-600 justify-start !m-0"
            >
              <Whatsapp class="w-5 h-5 mr-1.5" />
              <span></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button></button>
    </form>
  </dialog>
</astro-modal-error>
