---
import LaPintaReservationDoc from "../assets/trailers/LaPintaReservationDoc.astro";

const rows = [
  ["Número de bastidor", "VV9RC750SPP108147"],
  ["MMA", "750kg"],
  ["Peso en vacío", "172kg"],
  ["Carga útil", "578kg"],

  ["Dimesiones de neumáticos", "165/70 R13/79J"],
  ["Dimensiones exteriores", "175 x 313 x 80 cm"],
  ["Dimensiones interiores", "130 x 215 cm"],
  ["Número de ejes", "1 eje"],
  ["Tipo de iluminación", "Alógenos"],
  ["Tipo de conector", "7 pines"],
  ["Extras", "Ruedo jockey, rueda repuesto y rampa de carga y descarga"],
  [
    "Opciones",
    "Juego de 8 cinchas, adaptador de 13 a 7 pines y 1 bloqueo antirrobo",
  ],
];
---

<div class="w-full h-full">
  <section
    class="max-w-screen-xl mx-auto py-14 2xl:px-0 px-16 max-md:px-4 max-xs:px-0"
    id="detalles"
  >
    <div role="tablist" class="tabs tabs-lifted md:tabs-lg">
      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab [--tab-bg:#F1F5F9] [--tab-border-color:#a1c2f7] min-w-max"
        aria-label="Ficha técnica"
        checked
      />
      <div
        role="tabpanel"
        class="tab-content border-secondary rounded-box lg:px-6 px-4 prose prose-base max-md:prose-sm min-w-full bg-slate-100 max-xs:!rounded-none"
      >
        <div class="overflow-x-auto">
          <table class="table">
            <tbody>
              {
                rows.map((row, i) => (
                  <tr
                    class:list={[
                      "border-secondary",
                      i % 2 === 0 && "bg-slate-50",
                    ]}
                  >
                    <td class="border-r border-secondary font-semibold">
                      {row[0]}
                    </td>
                    <td>{row[1]}</td>
                  </tr>
                ))
              }
            </tbody>
          </table>
          <p>
            Este remolque es apto para ser conducido con el permiso B de
            conducir y puede ser remolcado por cualquier vehículo tractor que
            tenga una capacidad mínima de arrastre de 750 kg en su bola de
            remolque. Si tienes cualquier duda sobre las especificaciones
            técnicas, puedes ponerte en contacto con nosotros.
          </p>
        </div>
      </div>
      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab [--tab-bg:#F1F5F9] [--tab-border-color:#a1c2f7] min-w-max"
        aria-label="Condiciones de reserva"
      />
      <div
        role="tabpanel"
        class="tab-content border-secondary rounded-box lg:p-6 p-4 prose prose-base max-md:prose-sm min-w-full bg-slate-100 max-xs:!rounded-none"
      >
        <p class="font-bold">
          Condiciones generales de alquiler de remolque La Pinta
        </p>
        <p>
          Todos los contratos de alquiler de remolque de tipo "La Pinta" se
          regirán por estas condiciones generales, con la posibilidad de ajustar
          los detalles específicos como los datos del cliente, el precio, la
          fecha, la hora y la duración del contrato. Es importante revisar
          detenidamente estas condiciones antes de solicitar una reserva, para
          comprender los términos de uso del remolque, así como las obligaciones
          y derechos de ambas partes.
        </p>
        <p>
          Por favor, asegúrate de aclarar todas tus dudas antes de proceder con
          la reserva del remolque. Al realizar la reserva, como se te indicará
          durante el proceso de solicitud, estarás aceptando estas condiciones.
          Posteriormente, no se admitirán reclamaciones sobre lo estipulado en
          el contrato.
        </p>
        <button
          class="btn btn-secondary btn-sm mr-2"
          onclick="modal_1.showModal()">Ver documento</button
        >
        <a
          href="/assets/la-pinta-documento-de-reserva.pdf"
          target="_blank"
          class="btn btn-neutral btn-sm">Descargar</a
        >
        <dialog id="modal_1" class="modal">
          <div class="modal-box w-11/12 max-w-4xl max-h-[92vh]">
            <form method="dialog">
              <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                >✕</button
              >
            </form>
            <div class="grid min-h-[60vh]">
              <LaPintaReservationDoc
                src="/assets/la-pinta-documento-de-reserva.pdf"
                width="100%"
                height="100%"
              />
            </div>
            <div class="modal-action">
              <form method="dialog">
                <button class="btn btn-secondary btn-sm">Close</button>
              </form>
            </div>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button></button>
          </form>
        </dialog>
      </div>
    </div>
  </section>
</div>
