---
// @ts-nocheck
---

<style type="text/css">
  * {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
  .s1 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 20pt;
  }
  .s2 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16pt;
  }
  .p,
  p {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    margin: 0pt;
  }
  h1 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
  }
  .s3 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
  }
  li {
    display: block;
  }
  #l1 {
    padding-left: 0pt;
    counter-reset: c1 1;
  }
  #l1 > li > *:first-child:before {
    counter-increment: c1;
    content: counter(c1, decimal) ". ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
  }
  #l1 > li:first-child > *:first-child:before {
    counter-increment: c1 0;
  }
  #l2 {
    padding-left: 0pt;
  }
  #l2 > li > *:first-child:before {
    content: "• ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
  }
  li {
    display: block;
  }
  #l3 {
    padding-left: 0pt;
    counter-reset: d1 1;
  }
  #l3 > li > *:first-child:before {
    counter-increment: d1;
    content: counter(d1, decimal) ". ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
  }
  #l3 > li:first-child > *:first-child:before {
    counter-increment: d1 0;
  }
  li {
    display: block;
  }
  #l4 {
    padding-left: 0pt;
    counter-reset: e1 1;
  }
  #l4 > li > *:first-child:before {
    counter-increment: e1;
    content: counter(e1, decimal) ". ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
  }
  #l4 > li:first-child > *:first-child:before {
    counter-increment: e1 0;
  }
  #l5 {
    padding-left: 0pt;
  }
  #l5 > li > *:first-child:before {
    content: "• ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
  }
  li {
    display: block;
  }
  #l6 {
    padding-left: 0pt;
  }
  #l6 > li > *:first-child:before {
    content: "• ";
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
  }
</style><p
  class="s1"
  style="padding-top: 3pt;padding-bottom: 32px;line-height: 157%;text-align: left;"
>
  Documento de acuerdo entre particulares para alquiler de remolque ligero
</p><p
  class="s2"
  style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark0">&zwnj;</a>Introducción
</p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark1">&zwnj;</a>Este documento constituye un contrato de mutuo
  acuerdo entre particulares para el alquiler de un remolque ligero sin
  matrícula, celebrado entre el Arrendador y Arrendatario. Ambas partes,
  plenamente conscientes de ser mayores de edad y de estar legalmente
  capacitadas para llevar a cabo este acuerdo, reconocen y aceptan de manera
  mutua los términos y condiciones establecidos para el alquiler del remolque
  específicamente descrito en este contrato.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  class="s2"
  style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark2">&zwnj;</a>Propósito
</p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark3">&zwnj;</a>El propósito de este contrato es regular las
  condiciones bajo las cuales el Arrendatario podrá utilizar el remolque ligero
  sin matrícula propiedad del Arrendador. Ambas partes acuerdan los términos y
  condiciones para el alquiler del remolque, estableciendo las responsabilidades
  y obligaciones de cada una de ellas durante el período de arrendamiento. El
  Arrendador se compromete a facilitar el acceso al remolque en las condiciones
  acordadas, mientras que el Arrendatario se compromete a utilizar el remolque
  de manera adecuada y responsable, respetando las disposiciones legales
  aplicables y asumiendo los costos asociados al uso del mismo.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  class="s2"
  style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark4">&zwnj;</a>Condiciones del remolque arrendado
</p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;"><br /></p><ol
  id="l1"
>
  <li data-list-text="1.">
    <h1 style="padding-left: 22pt;text-indent: -16pt;text-align: left;">
      <a name="bookmark5">&zwnj;</a>Características técnicas<span class="p"
        >:</span
      >
    </h1><p style="padding-top: 6pt;text-indent: 0pt;text-align: left;">
      <br />
    </p><ul id="l2">
      <li data-list-text="•">
        <p style="padding-left: 48pt;text-indent: -12pt;text-align: left;">
          <a name="bookmark6">&zwnj;</a>Número de Bastidor: VV9RC750SPP108147.
        </p><p style="padding-top: 6pt;text-indent: 0pt;text-align: left;">
          <br />
        </p>
      </li><li data-list-text="•">
        <p
          style="padding-left: 48pt;text-indent: -12pt;line-height: 157%;text-align: left;"
        >
          <a name="bookmark7">&zwnj;</a>El remolque tiene un peso máximo de 750
          kg, del cual 578 kilos están disponibles como capacidad de carga útil.
        </p><p style="text-indent: 0pt;text-align: left;"><br /></p>
      </li><li data-list-text="•">
        <p style="padding-left: 48pt;text-indent: -12pt;text-align: left;">
          <a name="bookmark8">&zwnj;</a>Ruedas: Equipado con ruedas de 13
          pulgadas.
        </p><p style="padding-top: 7pt;text-indent: 0pt;text-align: left;">
          <br />
        </p>
      </li><li data-list-text="•">
        <p
          style="padding-left: 48pt;text-indent: -12pt;line-height: 157%;text-align: left;"
        >
          <a name="bookmark9">&zwnj;</a>Dimensiones: Las medidas útiles del
          remolque son de 130 cm por 215 cm, y las dimensiones totales son de
          175 cm por 313 cm.
        </p><p style="text-indent: 0pt;text-align: left;"><br /></p>
      </li>
    </ul>
  </li><li data-list-text="2.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark10">&zwnj;</a>Estado del Remolque<span class="p"
        >: El Arrendador declara que el remolque, se encuentra en buen estado de
        funcionamiento y que la pintura, ruedas y luces están en condiciones
        adecuadas para su uso previsto.</span
      >
    </h1>
  </li><li data-list-text="3.">
    <h1
      style="padding-top: 2pt;padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark11">&zwnj;</a>Accesorios Incluidos<span class="p"
        >: El remolque se entrega con 1 rampa, una copia compulsada de la ficha
        técnica y, opcionalmente pagando un suplemento, con un candado antirrobo
        con un juego de llaves, 8 cinchas y un adaptador de 13 pines a 7 pines,
        según lo acordado entre ambas partes.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="4.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark12">&zwnj;</a>Uso del Remolque<span class="p"
        >: El Arrendatario utilizará el remolque exclusivamente para el
        transporte de carga ligera, incluyendo motos, quads, karts y cualquier
        otra carga que no dañe el remolque y que esté amarrada correctamente sin
        exceder los límites legales de peso y longitud de la carga.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="5.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark13">&zwnj;</a>Cuidado y Mantenimiento<span class="p"
        >: El Arrendatario se compromete a cuidar adecuadamente del remolque
        arrendado durante el período de alquiler y a realizar cualquier
        mantenimiento básico necesario para garantizar su buen estado de
        conservación.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="6.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark14">&zwnj;</a>Restricciones de Uso<span class="p"
        >: Queda expresamente prohibido al Arrendatario utilizar el remolque
        arrendado para actividades ilegales, para el transporte de materiales
        peligrosos o cualquier otro uso que viole las leyes y regulaciones
        aplicables.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="7.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark15">&zwnj;</a>Responsabilidad por Daños<span class="p"
        >: El Arrendatario será responsable de cualquier daño causado al
        remolque durante el período de alquiler, salvo aquellos originados por
        un desgaste normal y razonable.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="8.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark16">&zwnj;</a>Devolución del Remolque<span class="p"
        >: Al finalizar el período de alquiler, el Arrendatario se compromete a
        devolver el remolque en el mismo estado en que fue recibido, salvo el
        desgaste normal por el uso adecuado.</span
      >
    </h1>
  </li>
</ol><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  class="s2"
  style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark17">&zwnj;</a>Preparativos del Arrendatario antes del
  alquiler del remolque
</p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark18">&zwnj;</a>Antes de proceder con el alquiler del remolque,
  el Arrendatario asume las siguientes obligaciones:
</p><p style="padding-top: 7pt;text-indent: 0pt;text-align: left;"><br /></p><ol
  id="l3"
>
  <li data-list-text="1.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark19">&zwnj;</a>Licencia de Conducir y Seguro de
      Responsabilidad Civil<span class="p"
        >: El Arrendatario debe poseer una licencia de conducir válida y en
        regla que le habilite para conducir el vehículo remolcador, así como un
        seguro de responsabilidad civil del vehículo que cubra el uso del
        remolque. Además, debe asegurarse de que la bola de remolque utilizada
        esté debidamente declarada en su póliza de seguro.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="2.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: justify;"
    >
      <a name="bookmark20">&zwnj;</a>Información al Seguro<span class="p"
        >: El Arrendatario deberá informar a su compañía de seguros sobre el uso
        del remolque y asegurarse de que tiene cobertura legal para todas las
        eventualidades durante su uso.</span
      >
    </h1>
  </li><li data-list-text="3.">
    <h1
      style="padding-top: 2pt;padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark21">&zwnj;</a>Experiencia Previa<span class="p"
        >: Se requiere que el Arrendatario tenga experiencia previa en el uso y
        manejo de remolques similares al alquilado. Es responsabilidad del
        Arrendatario garantizar que está debidamente preparado y capacitado para
        operar el remolque de manera segura.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="4.">
    <h1
      style="padding-left: 22pt;text-indent: -16pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark22">&zwnj;</a>Preparación del Vehículo Remolcador<span
        class="p"
        >: El Arrendatario se compromete a asegurarse de que su vehículo
        remolcador esté completamente preparado y en condiciones adecuadas para
        el uso del remolque. Esto incluye la verificación de la capacidad de
        carga del vehículo, la correcta instalación de la bola de remolque, y el
        estado de los neumáticos y frenos, entre otros aspectos relevantes para
        la seguridad.</span
      >
    </h1>
  </li>
</ol><p style="padding-top: 2pt;text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  El incumplimiento de cualquiera de estas obligaciones podría resultar en la
  cancelación del alquiler del remolque por parte del Arrendador.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  class="s2"
  style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark23">&zwnj;</a>Condiciones de reserva y cancelación
</p><ol id="l4">
  <li data-list-text="1.">
    <h1
      style="padding-top: 13pt;padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      Reserva<span class="p"
        >: La reserva del remolque se realizará mediante el pago de un depósito,
        el cual podrá ser abonado a través de la plataforma Bizum o en efectivo.
        El importe del depósito será del 100% del alquiler para importes menores
        a 100 euros, o del 20% del alquiler para importes mayores a 100 euros.</span
      >
    </h1>
  </li><li data-list-text="2.">
    <h1
      style="padding-left: 18pt;text-indent: -12pt;line-height: 11pt;text-align: left;"
    >
      Cancelación y devolución<span class="p">:</span>
    </h1><ul id="l5">
      <li data-list-text="•">
        <p
          style="padding-top: 6pt;padding-left: 45pt;text-indent: -9pt;line-height: 157%;text-align: left;"
        >
          Si la cancelación se realiza con más de 72 horas de antelación a la
          fecha de inicio del alquiler, se devolverá el 100% del importe de la
          reserva.
        </p>
      </li><li data-list-text="•">
        <p
          style="padding-left: 45pt;text-indent: -9pt;line-height: 157%;text-align: left;"
        >
          Si la cancelación se realiza entre 72 horas y 48 horas antes de la
          fecha de inicio del alquiler, se devolverá el 50% del importe de la
          reserva.
        </p>
      </li><li data-list-text="•">
        <p
          style="padding-left: 45pt;text-indent: -9pt;line-height: 157%;text-align: left;"
        >
          No se realizará ninguna devolución si la cancelación se realiza con
          menos de 48 horas de antelación a la fecha de inicio del alquiler.
        </p>
      </li>
    </ul>
  </li><li data-list-text="3.">
    <h1
      style="padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      Uso del depósito<span class="p"
        >: El depósito abonado en concepto de reserva se descontará del importe
        total del alquiler al momento de la recogida del remolque. En caso de
        cancelación dentro de los plazos establecidos, el depósito se devolverá
        según las condiciones descritas anteriormente.</span
      >
    </h1>
  </li><li data-list-text="4.">
    <h1
      style="padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      Pago de la fianza al recoger el remolque<span class="p"
        >: Al recoger el remolque, el Arrendatario deberá abonar el importe
        correspondiente a la fianza. Este pago deberá realizarse en efectivo en
        primer lugar, y luego mediante Bizum si es necesario, conforme a las
        condiciones acordadas en este contrato.</span
      >
    </h1>
  </li>
</ol><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  El arrendador requerirá el pago completo del importe del alquiler y la
  respectiva fianza antes de que el remolque sea retirado.
</p><p
  class="s2"
  style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark24">&zwnj;</a>Fianza y condiciones de devolución
</p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark25">&zwnj;</a>Antes de que el remolque arrendado sea
  entregado, el Arrendatario deberá abonar una fianza de 150 euros para
  alquileres de menos de una semana de duración o de 200 euros para alquileres
  de una semana o más, ya sea en efectivo o mediante la plataforma Bizum. Esta
  fianza se establece con el fin de garantizar la cobertura de posibles daños
  materiales al remolque durante el período de alquiler, así como para hacer
  frente a costos asociados, incluyendo gastos legales, de transporte,
  burocráticos y de gestión.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark26">&zwnj;</a>La fianza se entregará al Arrendador
  inmediatamente después de revisar que el remolque se encuentra en buen estado
  y no presenta daños. En caso de que se detecten daños en el remolque o se haya
  incumplido alguna condición del contrato, el Arrendador utilizará la fianza
  para cubrir los gastos necesarios para reparar o reponer el remolque, así como
  cualquier costo asociado.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark27">&zwnj;</a>Si el costo de los daños y los costos asociados
  excede el valor de la fianza, el Arrendatario será responsable de cubrir la
  diferencia. En caso de incumplimiento por parte del Arrendatario de cualquier
  disposición del contrato, no se devolverá nada de la fianza bajo ningún
  concepto.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark28">&zwnj;</a>Si después de cubrir los gastos con la fianza
  aún queda un remanente, este será devuelto al Arrendatario en su totalidad.`
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  class="s2"
  style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark29">&zwnj;</a>Tarifas
</p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;"><br /></p><ul
  id="l6"
>
  <li data-list-text="•">
    <h1 style="padding-left: 18pt;text-indent: -12pt;text-align: left;">
      <a name="bookmark30">&zwnj;</a>Alquiler por Día<span class="p"
        >: El precio del alquiler por día es de 25 euros de lunes a jueves no
        festivos, y de 35 euros los viernes, sábados, domingos y días festivos.</span
      >
    </h1><p style="padding-top: 7pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
  </li><li data-list-text="•">
    <h1
      style="padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark31">&zwnj;</a>Alquiler de Fin de Semana y Festivos<span
        class="p"
        >: El precio del alquiler durante el fin de semana, que comprende
        viernes, sábado y domingo, es de 60 euros. En caso de alquilar días
        sueltos en fin de semana, el importe mínimo es de 35 euros. Los días
        festivos el precio del alquiler es de 35 euros por día.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="•">
    <h1 style="padding-left: 18pt;text-indent: -12pt;text-align: left;">
      <a name="bookmark32">&zwnj;</a>Alquiler por Semana<span class="p"
        >: El precio del alquiler por una semana completa es de 120 euros. Si la
        reserva comienza en viernes o sábado, el costo es de 130 euros. Además,
        se añadirán 10 euros por cada día festivo incluido durante la semana de
        alquiler.</span
      >
    </h1><p style="padding-top: 7pt;text-indent: 0pt;text-align: left;">
      <br />
    </p>
  </li><li data-list-text="•">
    <h1
      style="padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark33">&zwnj;</a>Alquiler por Periodos Extendidos<span
        class="p"
        >: Para alquileres que excedan una semana, se debe consultar el precio
        con el Arrendador.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="•">
    <h1
      style="padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark34">&zwnj;</a>Día Extra<span class="p"
        >: El precio de un día extra, en caso de necesitarlo, el precio es de 15
        euros por día de lunes a jueves no festivos, y de 20 euros los viernes,
        sábados, domingos y días festivos. Los días extras están sujetos a la
        disponibilidad del remolque.</span
      >
    </h1>
  </li><li data-list-text="•">
    <h1
      style="padding-top: 2pt;padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark35">&zwnj;</a>Retraso en la Entrega<span class="p"
        >: En caso de retraso en la entrega del remolque por más de 2 horas de
        la hora acordada, se cobrará una tarifa adicional de 30 euros por día de
        retraso. Es importante destacar que si se notifica con anterioridad, los
        días extras se considerarán como tal y se aplicará la tarifa
        correspondiente. De lo contrario, se considerará como día de retraso y
        se cobrará la tarifa establecida.</span
      >
    </h1><p style="text-indent: 0pt;text-align: left;"><br /></p><p
      style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark36">&zwnj;</a>Cualquier condición de tarificación
      especial que modifique las tarifas generales será detallada en el apartado
      de &quot;Condiciones Particulares&quot;
    </p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
      class="s2"
      style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
    >
      <a name="bookmark37">&zwnj;</a>Condiciones del rescate
    </p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;">
      <br />
    </p><p
      style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark38">&zwnj;</a>En caso de que el Arrendatario no pueda
      devolver el remolque por una avería en su vehículo, la falta de
      disponibilidad de otro vehículo para transportarlo de vuelta o cualquier
      otra causa ajena al remolque y al Arrendador, se realizará un rescate del
      remolque con las siguientes condiciones:
    </p><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="•">
    <p
      style="padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark39">&zwnj;</a>Se cobrará una tarifa fija de rescate de
      150 euros para distancias de hasta 50 kilómetros desde el punto de entrega
      y recogida acordado.
    </p><p style="text-indent: 0pt;text-align: left;"><br /></p>
  </li><li data-list-text="•">
    <p
      style="padding-left: 18pt;text-indent: -12pt;line-height: 157%;text-align: left;"
    >
      <a name="bookmark40">&zwnj;</a>Por cada kilómetro adicional más allá de
      los 50 kilómetros, se aplicará una tarifa adicional de 0.45 céntimos por
      kilómetro.
    </p>
  </li>
</ul><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark41">&zwnj;</a>El Arrendatario se compromete a permanecer
  junto al remolque y cooperar en su recuperación en todo momento, facilitando
  cualquier dato que le pida el Arrendador para ejercer el rescate del remolque.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  class="s2"
  style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark42">&zwnj;</a>Robo o pérdida del remolque arrendado
</p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark43">&zwnj;</a>En caso de robo o pérdida del remolque
  arrendado durante el período de alquiler, el Arrendatario deberá informar
  inmediatamente al Arrendador y presentar una denuncia ante las autoridades
  competentes. El Arrendatario será responsable de colaborar plenamente con las
  investigaciones relacionadas con el robo o la pérdida del remolque.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark44">&zwnj;</a>El Arrendatario será responsable de cubrir los
  costos de reposición o reparación del remolque, hasta el valor total de
  reemplazo del mismo. Esta responsabilidad incluye cualquier deducible asociado
  con el seguro del Arrendador, así como cualquier gasto adicional incurrido por
  el Arrendador como resultado del robo o pérdida del remolque.
</p><p
  style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark45">&zwnj;</a>En caso de que el remolque arrendado sea
  recuperado después de un robo o pérdida, el Arrendatario deberá notificar
  inmediatamente al Arrendador y cooperar en la devolución del remolque en las
  condiciones acordadas.
</p><p style="text-indent: 0pt;text-align: left;"><br /></p><p
  class="s2"
  style="padding-left: 5pt;text-indent: 0pt;text-align: left;"
>
  <a name="bookmark46">&zwnj;</a>Condiciones particulares
</p><p style="padding-top: 3pt;text-indent: 0pt;text-align: left;"><br /></p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  <a name="bookmark47">&zwnj;</a>En el documento que se le envió al realizar la
  reserva, se detallan sus condiciones particulares. Este documento tiene
  únicamente carácter informativo.
</p><p style="padding-top: 1pt;text-indent: 0pt;text-align: left;"><br /></p><p
  style="text-indent: 0pt;text-align: left;"
>
  <br />
</p><p
  style="padding-left: 5pt;text-indent: 0pt;line-height: 157%;text-align: left;"
>
  Con el pago de la reserva del remolque, ambas partes aceptan los términos y
  condiciones aquí pactados de mutuo acuerdo. Este contrato será vinculante y
  tendrá validez legal en todos sus términos. El incumplimiento de este acuerdo
  podrá ser presentado ante las autoridades correspondientes.
</p>
