---
import "../styles/index.css";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import FloatingButton from "../components/FloatingButton.astro";
import ModalContact from "../components/ModalContact.astro";

import ES from "../locales/ES.json";
import ModalSuccess from "../components/ModalSuccess.astro";
import ModalError from "../components/ModalError.astro";
---

<ViewTransitions />

<Header locales={ES.header} />
<div class="drop-shadow-sm bg-base-100">
  <slot />
</div>
<Footer locales={ES.footer} />
<FloatingButton locales={ES.floatingButton} />
<ModalContact locales={ES.modals.contact} />
<ModalSuccess />
<ModalError />
