---
import "../styles/index.css";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ModalContact from "../components/ModalContact.astro";

import ES from "../locales/ES.json";
---

<ViewTransitions />

<Header locales={ES.header} />
<div class="drop-shadow-sm bg-base-100">
  <slot />
</div>
<Footer locales={ES.footer} />
<ModalContact locales={ES.modals.contact} />
